.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

.container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.container > *:last-child {
  margin-top: 16px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-bottom: var(--gutter);
  margin-top: var(--gutter);
}

.row > * {
  flex: 1;
}

.centerBox {
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
}

@media screen and (min-width: 1025px) {
  .row {
    flex-direction: row;
  }
  .container > *:first-child {
    flex: 3;
  }
  .container > *:last-child {
    flex: 2;
    margin-top: 0;
  }
  .container {
    display: flex;
    gap: var(--gap);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
  }
  .container.rtl {
    flex-direction: row-reverse;
    text-align: right;
  }
}
