.primaryRow {
  text-align: center;
  padding: 230px 0;
  font-size: 18px;
}

.secondaryRow {
  display: flex;
  justify-content: space-between;
  font-family: var(--mono);
  color: #fff;
  padding: 24px;
  font-size: 12px;
}

.footerLink {
  font-family: var(--mono);
  color: #fff;
  text-decoration: none;
}

.secondaryRow .footerLink {
  text-align: center;
}

.socials {
  display: flex;
}

.footerIconLink {
  color: #fff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.footerLink:hover,
.footerIconLink:hover {
  color: var(--primary);
}

.heading {
  color: var(--secondary);
}

@media screen and (min-width: 1025px) {
  .primaryRow {
    display: flex;
    text-align: left;
  }
  .primaryRow > * {
    flex: 1;
    text-align: center;
  }
}
