.root {
  display: flex;
  max-width: 980px;
  margin: 24px auto;
  padding: 24px 0;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listLarge {
  margin: 36px 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.contentLarge {
  width: 100%;
}

.content ul {
  line-height: 1.8;
}
