.root {
  display: flex;
  max-width: 880px;
  margin: 24px auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.listLarge {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.content ul {
  line-height: 1.8;
}
