.link:focus {
  outline: 2px solid var(--primary);
  border-radius: 3px;
}

.primary.link {
  background-color: var(--secondary);
  color: #302a26;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  border-radius: 3px;
}
.primary.link:hover {
  background-color: var(--primary);
  color: #fff;
}

.image {
  color: #000;
  transition: transform .2s ease-in-out;
}
.image:hover {
  color: var(--primary);
  transform: scale(.9);
}
