.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  flex-direction: column;
}
.logoLink {
  text-decoration: none;
}
.headerButton {
  font-family: 'Anton', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu {
  padding: 0;
}

@media screen and (min-width: 1025px) {
  .header {
    flex-direction: row;
  }
  .headerButton {
    padding: 8px 16px;
  }
}
