.hero {
  display: flex;
}

.rtl {
  flex-direction: row-reverse;
  text-align: right;
}

.icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon > svg {
  max-width: 300px;
  height: auto;
}

.content {
  flex: 2;
}
