.hero {
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.icon svg {
  padding: 24px;
  max-height: 300px;
  max-width: 300px;
  height: auto;
  color: inherit;
}
.content > * {
  margin-top: 0;
}
.paragraph {
  margin: 30px auto;
}

@media screen and (min-width: 1025px) {
  .hero {
    flex-direction: row;
    text-align: left;
  }
  .content {
    flex: 2;
  }
  .rtl {
    flex-direction: row-reverse;
    text-align: right;
  }
}
